<div class="row">
<div class="col-sm-6">
	<ul>
	<button ng-click="addAreaClicked()">Add Area</button>
	<div><h3>Area</h3></div>
	<li ng-repeat= "d in areas" ng-click="areaClicked($event, d)"> {{d.areaName}}
	</li>
</ul></div>
<div class="col-sm-6">
<button ng-click="addAnimalClicked()">Add Animal</button>
<div class="column">
<div><h3>Stock</h3></div>
<div>Filter  </div> <button ng-click="reset()"> reset</button>
<div class ="column">Animal Type<select ng-model="selectedAnimal" ng-change="animalTypeClicked($event, x)" >
	<option ng-repeat="x in animalType" ng-value="{{x}}">{{x.name}}</option>
</select>
Area<select ng-model="selectedArea"  ng-change="changesArea($event, x)" >
	<option ng-repeat=" x in areas"  ng-value="{{x}}">{{x.areaName}}</option>
</select>
<select ng-model="selectedpen" ng-change="penClicked($event, x)" >
	<option ng-repeat="x in pen" ng-value="{{x}}">{{x.pegName}}</option>
</select></div>
<div>	
<ul>
	<li ng-repeat= "d in animal| filter : {type:$scope.selectAnimalType}" ng-click="animalClicked($event, d)"> {{d.animalName}}   count : {{d.stocks!=null?d.stocks.length:0}}
	</li>
</ul>
 
</div>
</div>
</div>
</div>

